body{
    margin: 0;
    padding: 0;
}
.container{
    width: 414px;
    height: 852px;
    margin: 0 auto;
    position: relative;
}
img{
    width: 100%;
}

@media (mix-width:576px) {
    .container{
        width: 100%;
    }

}

ul{
    display: flex;
    position: absolute;
    top: 342px;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}
.but{
    /* background-color: aqua; */
    width: 180px;
    height: 195px;
    list-style:none;
    margin: 6px;
}
a{
    display: block;
}